<div>
  <div>
    <h1 class="custom-margin"><%= @workout_session.workout.name %></h1>
  </div>

  <%# progress bar here: %>
  <%#= render 'shared/progress_bar', workout_session: @workout_session, exercises: @exercises %>

  <div data-controller="collapse">
    <% @exercises.each_with_index do |exercise, index| %>
      <%# card not collapsed here %>
      <button class="collapsible-button" data-action="click->collapse#toggle">
        <div class="name">
          <p class="in-progress">In progress</p>
          <h2 class="exercise-name <%= exercise.exercise_type %>"><%= exercise.name %></h2>
          <h6><i class="fa-solid fa-chevron-down"></i></h6>
        </div>
        <%# card collapsed portion %>
        <div class="collapsible-content <%= exercise.id == params[:active_tab].to_i ? 'open' : '' %>" data-collapse-target="content">
          <%= render 'shared/exercise_card', exercise: exercise, index_exercise: index, workout_session: @workout_session %>
        </div>
      </button>
    <% end %>
  </div>

  <%# bodyweight sleeptime form here: %>
  <%# <div class="workout_session_info_form"> %>
    <%#= render 'shared/workout_session_info_form', workout_session: @workout_session  %>
  <%# </div> %>

  <%# session completed button here: %>
  <div class="d-flex justify-content-center">
    <%= link_to 'Complete', workout_sessions_path(workout_id: @workout.id), class:"m-3 text-decoration-none link-dark btn btn-light rounded-pill" %>
  </div>
</div>
