<div class="exercise-sets-card">
  <div class="sets">
    <div class="pe-1 border-light-subtle">
      <h6><strong><%= exercise.name %></strong></h6>
    </div>
    <div class="d-flex">
      <% sets_done = workout_session.sets_done(exercise) %>
      <div class='set' style="display: inline-flex;">
        <% sets_done.each do |set_done| %>
          <%= link_to set_done.reps , exercise_set_path(set_done), class:"rep-num-button" %>
        <% end %>
        <% (exercise.sets - sets_done.count).times do |i| %>
          <p class='rep-num-button-light'>
            <% if exercise.lower_reps.nil? %>
              <%= exercise.hold_time %>
            <% else %>
              <%= exercise.lower_reps %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to 'Compare', compare_exercise_path(exercise), class: 'btn btn-cool' %> <!-- Button here -->
</div>
