<div class="exercise-sets-card">
  <div class="pe-1 exercise-name border-end border-light-subtle">
    <%# div 1 exercise and descriptions %>
    <%= exercise_set.workout_session.start_time.strftime("%A, %b %d") %>
    <%# excercise name here: %>
    <div>
      <%# sets and reps here: %>
      <span class="exercise-info"><%= exercise.sets %> x
        <% if exercise.lower_reps.nil? && exercise.upper_reps.nil?  %>
          <%= exercise.hold_time %>
        <% else %>
          <%= exercise.lower_reps %>-<%= exercise.upper_reps %>
        <% end %>
      </span>
      <%# rest time:here %>
      <span class="exercise-info">| rest: <%= exercise.rest %>s</span>
    </div>
  </div>
  <%# each exercise_sets input and total set here: %>
  <div data-controller="total-set-count" class="sets">
    <%# sub exercise_sets form here: %>
    <%# total_sets = 0 %>
    <div class="d-flex justify-space-between">
      <%# get the number of exercise.sets store them in a variable, use that variablee to get the last two instances of the exercise_sets %>
      <% exercise_set.workout_session.exercise_sets.where(exercise: exercise).each do |set| %>
        <p class="<%= set == exercise_set ? 'set-highlite': '' %> me-2"> <%= set.reps %> </p>
      <% end %>
    </div>
    <%# total # of sets display here: %>
    <div>
      <span class="total-set-count" data-total-set-count-target="total">=0</span>
    </div>
  </div>
</div>
