<div>
  <div class="exercise-sets-card">
    <div class="pe-1 exercise-name border-end border-light-subtle">
      <%# div 1 exercise and descriptions %>
      <h6><strong><%= exercise.name %></strong></h6>
      <%# excercise name here: %>
      <div>
        <%# sets and reps here: %>
        <span class="exercise-info"><%= exercise.sets %> x
          <% if exercise.lower_reps.nil? && exercise.upper_reps.nil?  %>
            <%= exercise.hold_time %>
          <% else %>
            <%= exercise.lower_reps %>-<%= exercise.upper_reps %>
          <% end %>
        </span>
        <%# rest time:here %>
        <span class="exercise-info">| rest: <%= exercise.rest %>s</span>
      </div>
    </div>
    <%# each exercise_sets input and total set here: %>
    <div data-controller="total-set-count" class="sets">
      <%# sub exercise_sets form here: %>
      <%# total_sets = 0 %>
      <div class="d-flex">
        <% exercise.sets.times do |i| %>
          <%= link_to workout_session_exercise_path(workout_session, exercise), class:"text-decoration-none link-dark" do %>
          <%# <button></button> %>
          <p> <%= exercise.reps %> </p>

          <% end %>
        <% end %>
      </div>
      <%# total # of sets display here: %>
      <div>
        <span class="total-set-count" data-total-set-count-target="total">=0</span>
      </div>
    </div>

  </div>
</div>
