<div>
    <%# excercise name here: %>
  <div class="exercise-card-items" >
    <div class="div-left"><%# div1 %>
      <h2 class="<%= exercise.exercise_type %>"><%= exercise.name %></h2>

      <div class="d-flex mt-2">
        <%# rest time:here %>
        <h4 class="exercise-info me-3">
          <% if exercise.lower_reps.nil? && exercise.upper_reps.nil?  %>
            <i class="fa-solid fa-stopwatch"></i> <%= exercise.hold_time %> s hold
          <% else %>
            <i class="fa-solid fa-repeat"></i> <%= exercise.lower_reps %>-<%= exercise.upper_reps %> reps
          <% end %>
        </h4>
        <h4 class="exercise-info"><i class="fa-regular fa-circle-pause"></i> <%= exercise.rest %>s rest</h4>
      </div>
      <div>
        <div><h4 class="exercise-info set-text"><i class="fa-solid fa-dumbbell"></i> <%= exercise.sets %> sets to do:</h4></div>

        <% sets_done = workout_session.sets_done(exercise) %>
        <div class='set'>
          <% sets_done.each do |set_done| %>
            <%= link_to set_done.reps , exercise_set_path(set_done), class:"rep-num-button" %>
          <% end %>

          <% (exercise.sets - sets_done.count).times do |i| %>
            <%#= link_to workout_session_exercise_path(workout_session, exercise), class:"text-decoration-none" do %>
              <p class='rep-num-button-light'>
                <% if exercise.lower_reps.nil? %>
                  <%= exercise.hold_time %>
                <% else %>
                  <%= exercise.lower_reps %>
                <% end %>
              </p>
            <%# end %>
          <% end %>
        </div>

        <%# total # of sets display here: %>
        <div>
          <% total = 0 %>
          <% sets_done.each do |set_done| %>
            <% total += set_done.reps unless set_done.reps.nil? %>
          <% end %>
          <span class="rep-num-total">Volume: <%= total %></span>
        </div>
      </div>
    </div>

    <div class="div-right"><%# div2 %>
      <div><%# sets and reps in this div: %>
        <div>
          <%# <span class="exercise-info"><%= exercise.sets %>
            <%# sets x  %>
          <%# </span>  %>

        </div>

      </div>

      <div class="progress-done"><%# 1/5 done in this div: %>
        <% if sets_done.count == exercise.sets %>
          <h4><i class="fa-sharp fa-solid fa-check fa-2xl"></i></h4>
        <% else %>
          <%= link_to workout_session_exercise_path(workout_session, exercise), class:"text-decoration-none text-white delayed" do %>
            <h2><%= sets_done.count %>/<%= exercise.sets %></h2>
            <h6>done</h6>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
