<%# link for collapse %>
<div data-controller="record-video">
  <%= simple_form_for([exercise, set], html: {data: { record_video_target:"form"}}) do |f| %>
    <div class="form-inputs custom-set-form-width">
      <%= f.input :reps, input_html: {class: 'w-25 nopadding set-value', 'data-total-set-count-target': 'input', 'data-action': 'input->total-set-count#calculateTotal'}, label: false, input_html: { 'data-bs-toggle': "collapse", 'data-bs-target':"#collapse-#{index_exercise}-#{index}", 'aria-expanded':"false", 'aria-controls':"collapse-#{index_exercise}-#{index}"} %>
      <%= f.input :workout_session_id, as: :hidden, input_html: { value: workout_session.id} %>
    </div>
  <% end %>


  <div data-record-video-target="collapse" class="collapse" id="collapse-<%= index_exercise %>-<%= index%>"  >
    <div>
      <h6>Record your video</h6>
      <button id="start" data-record-video-target="start" data-action="click->record-video#record">Start</button>
      <button id="stop" data-record-video-target="stop" data-action="click->record-video#replace">Stop and save</button>
      <div>
        <video style="border: 1px solid black" id="live" width="300" height="200" autoplay muted data-record-video-target="live"></video>
      </div>
    </div>
  </div>
  <div data-record-video-target="video" class="d-none"></div>
</div>
