<div>
    <%# excercise name here: %>
  <div class="exercise-card-items">
    <div class="div-left"><%# div1 %>
      <h2><%= exercise.name %></h2>

      <div>
        <% sets_done = workout_session.sets_done(exercise) %>
        <div class='set'>
          <% sets_done.each do |set_done| %>
            <%= link_to set_done.reps , exercise_set_path(set_done), class:"rep-num-button" %>
          <% end %>

          <% (exercise.sets - sets_done.count).times do |i| %>
            <%= link_to workout_session_exercise_path(workout_session, exercise), class:"text-decoration-none" do %>
              <p class='rep-num-button-light'>
                <% if exercise.lower_reps.nil? %>
                  <%= exercise.hold_time %>
                <% else %>
                  <%= exercise.lower_reps %>
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>

        <%# total # of sets display here: %>
        <div>
          <% total = 0 %>
          <% sets_done.each do |set_done| %>
            <% total += set_done.reps unless set_done.reps.nil? %>
          <% end %>
          <span class="rep-num-total">Total: <%= total %></span>
        </div>
      </div>
    </div>

    <div class="div-right"><%# div2 %>
      <div><%# sets and reps in this div: %>
        <div>
          <span class="exercise-info"><%= exercise.sets %> x </span>
          <h2>
            <% if exercise.lower_reps.nil? && exercise.upper_reps.nil?  %>
              <%= exercise.hold_time %> s
            <% else %>
              <%= exercise.lower_reps %>-<%= exercise.upper_reps %> reps
            <% end %>
          </h2>
        </div>
        <%# rest time:here %>
        <h6 class="exercise-info">rest: <%= exercise.rest %>s</h6>
      </div>

      <div class="progress-done"><%# 1/5 done in this div: %>
        <% if sets_done.count == exercise.sets %>
          <h4><i class="fa-sharp fa-solid fa-check fa-2xl"></i></h4>
        <% else %>
          <h2><%= sets_done.count %>/<%= exercise.sets %></h2>
          <h6 class="">done</h6>
        <% end %>
      </div>
    </div>
  </div>
</div>
