<div>
  <h1 class="custom-margin <%= @exercise.exercise_type %>">
    <%#= @workout_session.workout.name %>
    <%= @exercise.name %>
  </h1>

  <div class="d-flex justify-content-between align-items-center">
    <div>
      <%# sets and reps here: %>
      <span class="exercise-info"><i class="fa-solid fa-hashtag"></i> <%= @exercise.sets %>
      <% if @exercise.lower_reps.nil? && @exercise.upper_reps.nil?  %>
        <i class="fa-solid fa-stopwatch ms-3"></i> <%= @exercise.hold_time %> s
      <% else %>
        <i class="fa-solid fa-repeat ms-3"></i> <%= @exercise.lower_reps %>-<%= @exercise.upper_reps %>
      <% end %>
      <%# rest time:here %>
      <i class="fa-regular fa-circle-pause ms-3"></i> <%= @exercise.rest %>s</span>
    </div>

    <div class="rep-num-button"><%= @reps %></div>
  </div>

  <%= cl_video_tag @exercise_set.video.key, width: 410, resource_type: 'video', controls: true %>
</div>
