<div class="compare-container">
  <h1> <%= @exercise.name %> </h1>
  <!-- Nav tabs -->
  <div class="back-button-container d-flex justify-content-between align-items-center">
    <ul class="nav nav-pills" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active nav-tabs-custom" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" >Video</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link nav-tabs-custom" id="chart-tab" data-bs-toggle="tab" data-bs-target="#chart" type="button" role="tab" aria-controls="chart" aria-selected="false">Analyse</button>
      </li>
    </ul>
    <button type="button" class="btn btn-sporty ms-auto py-2" onclick="window.history.back();">
      <i class="bi bi-arrow-left"></i> Back
    </button>
  </div>
  <!-- Tab panes -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <form action="/exercises/<%= @exercise.id %>/compare" method="GET" class="date-select">
        <select name="first_date" id="">
          <% @workout_sessions_hash.keys.sort_by(&:start_time).reverse.each do |workout_session| %>
            <option value="<%= workout_session.id %>" <%= workout_session.id == params[:first_date].to_i ? "selected" : "" %>><%= workout_session.start_time.strftime(" %a, %b %e, %Y") %></option>
            <% end %>
            <%# <option value="" selected>Select date</option> %>
          </select>
          <select name="second_date" id="">
            <% @workout_sessions_hash.keys.sort_by(&:start_time).reverse.each do |workout_session| %>
              <option value="<%= workout_session.id %>" <%= workout_session.id == params[:second_date].to_i ? "selected" : "" %>><%= workout_session.start_time.strftime(" %a, %b %e, %Y") %></option>
              <% end %>
            </select>
            <button type="submit" class="me-2">View</button>
          </form>
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
              <% @max_sets.times do |index| %> <%=  %>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= index == 0 ? "active" : "" %>" aria-current="<%= index == 0 %>" aria-label="Slide <%= index %>"></button>
              <% end %>
            </div>
            <div class="carousel-inner">
              <% @max_sets.times do |index| %>
                <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                  <div class="video-wrapper">
                    <%= render 'shared/compare_display_card', exercise: @exercise, exercise_set: @last_exercise_set[index]%>
                    <%= render 'shared/compare_display_card', exercise: @exercise, exercise_set: @second_last_exercise_set[index]%>
                  </div>
                </div>
              <% end %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="chart" role="tabpanel" aria-labelledby="chart-tab">
          <!-- Nav tabs -->
          <ul class="nav nav-pills mt-2" id="years" role="tablist">
            <li class="nav-item " role="presentation">
              <button class="nav-link active nav-tabs-custom" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link nav-tabs-custom" id="2024-tab" data-bs-toggle="tab" data-bs-target="#2024" type="button" role="tab" aria-controls="2024" aria-selected="false">2024</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link nav-tabs-custom" id="2023-tab" data-bs-toggle="tab" data-bs-target="#2023" type="button" role="tab" aria-controls="2023" aria-selected="false">2023</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link nav-tabs-custom" id="2022-tab" data-bs-toggle="tab" data-bs-target="#2022" type="button" role="tab" aria-controls="2022" aria-selected="false">2022</button>
            </li>
          </ul>
          <div class="tab-content" id="yearsContent">
            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
              <div style="overflow-x: auto; white-space: nowrap;">
                <%= line_chart @data_hash_sum, width: "200%", height: "580px", colors: ["#ff9574", "#ff9574"], library: {
                scales: {
                  x: {
                    ticks: {
                      color: "#FFFFFF" # Custom color for x-axis labels
                    }

                  },
                  y: {
                    ticks: {
                      color: "#FFFFFF" # Custom color for y-axis labels
                    },
                    title: {
                    display: true,
                    text: 'Total reps',
                    color: "#FFFFFF" # Set the x-axis title color
                    }
                  }
                },
                plugins: {
                  title: {
                        display: true,
                        text: "Volume over time", # Set the chart title text
                        color: '#FFFFFF',          # Set the chart title color
                        font: {
                          size: 18,             # Set the chart title font size
                          # weight: 'bold'      # Set the chart title font weight
                        },
                        padding: {
                          top: 15,              # Add padding above the title
                          bottom: 5            # Add padding below the title
                        }
                      }
                }
              } %>
              </div>
            </div>
            <div class="tab-pane fade" id="2024" role="tabpanel" aria-labelledby="2024-tab">
              <%= line_chart @data_hash_by_year[2024], width: "100%", height: "580px",colors: ["#ff9574", "#ff9574"], library: {
                scales: {
                  x: {
                    ticks: {
                      color: "#FFFFFF" # Custom color for x-axis labels
                    }

                  },
                  y: {
                    ticks: {
                      color: "#FFFFFF" # Custom color for y-axis labels
                    },
                    title: {
                    display: true,
                    text: 'Total Reps',
                    color: "#FFFFFF" # Set the x-axis title color
                    }
                  }
                },
                plugins: {
                  title: {
                        display: true,
                        text: "Volume for 2024", # Set the chart title text
                        color: '#FFFFFF',          # Set the chart title color
                        font: {
                          size: 18,             # Set the chart title font size
                          # weight: 'bold'      # Set the chart title font weight
                        },
                        padding: {
                          top: 15,              # Add padding above the title
                          bottom: 5            # Add padding below the title
                        }
                      }
                }
              } %>
            </div>
            <div class="tab-pane fade" id="2023" role="tabpanel" aria-labelledby="2023-tab">
              <%= line_chart@data_hash_by_year[2023], width: "100%", height: "580px", colors: ["#ff9574", "#ff9574"], library: {
                scales: {
                  x: {
                    ticks: {
                      color: "#FFFFFF" # Custom color for x-axis labels
                    }

                  },
                  y: {
                    ticks: {
                      color: "#FFFFFF" # Custom color for y-axis labels
                    },
                    title: {
                    display: true,
                    text: 'Total Reps',
                    color: "#FFFFFF" # Set the x-axis title color
                    }
                  }
                },
                plugins: {
                  title: {
                        display: true,
                        text: "Volume for 2023", # Set the chart title text
                        color: '#FFFFFF',          # Set the chart title color
                        font: {
                          size: 18,             # Set the chart title font size
                          # weight: 'bold'      # Set the chart title font weight
                        },
                        padding: {
                          top: 15,              # Add padding above the title
                          bottom: 5            # Add padding below the title
                        }
                      }
                }
              } %>
            </div>
            <div class="tab-pane fade" id="2022" role="tabpanel" aria-labelledby="2022-tab">
              <%= line_chart@data_hash_by_year[2022], width: "100%", height: "580px", colors: ["#ff9574", "#ff9574"], library: {
                scales: {
                  x: {
                    ticks: {
                      color: "#FFFFFF" # Custom color for x-axis labels
                    }

                  },
                  y: {
                    ticks: {
                      color: "#FFFFFF" # Custom color for y-axis labels
                    },
                    title: {
                    display: true,
                    text: 'Total Reps',
                    color: "#FFFFFF" # Set the x-axis title color
                    }
                  }
                },
                plugins: {
                  title: {
                        display: true,
                        text: "Volume for 2022", # Set the chart title text
                        color: '#FFFFFF',          # Set the chart title color
                        font: {
                          size: 18,             # Set the chart title font size
                          # weight: 'bold'      # Set the chart title font weight
                        },
                        padding: {
                          top: 15,              # Add padding above the title
                          bottom: 5            # Add padding below the title
                        }
                      }
                }
              } %>
            </div>
          </div>
          <%#= line_chart @exercise.exercise_sets.group(:reps).count, height: "380px" %>
        </div>
      </div>
    </div>
