<div>
  <h1 class="custom-margin"><%= @workout_session.workout.name %></h1>
</div>

<%= render 'shared/progress_bar', workout_session: @workout_session %>

<div class="video">
  <h1>
    <%# <%= workout_session.name %>
    <%# <%= exercise.name %>
  </h1>
  <%# <%= link_to ,  %>
  <div data-controller="record-video">
    <div>
      <h2>Record your video</h2>
      <button id="start" data-record-video-target="start" data-action="click->record-video#record">Start</button>
      <button id="stop" data-record-video-target="stop" data-action="click->record-video#replace">Stop and save</button>
      <div>
        <video style="border: 1px solid black" id="live" width="100%vw" height="300" autoplay muted data-record-video-target="live"></video>
      </div>
    </div>
    <div data-record-video-target="video" class="d-none"></div>
  </div>
</div>

<div>
  <%= simple_form_for([@exercise, set], html: {data: { record_video_target:"form"}}) do |f| %>
    <div class="custom-set-form">
      <%= f.input :reps, label: false, input_html: {class: 'set-value', id: 'sets-form', data: { total_set_count_target: 'input', action: 'input->total-set-count#calculateTotal'}} %>
      <%= f.input :workout_session_id, as: :hidden, input_html: { value: workout_session.id} %>
    </div>
  <% end %>
</div>

<%= link_to "Back", workout_session_path, class: 'm-3 btn btn-light' %>
