<div>
  <h1 class="custom-margin <%= @exercise.exercise_type %>">
    <%#= @workout_session.workout.name %>
    <%= @exercise.name %>
  </h1>

  <div class="d-flex justify-content-between align-items-center">
    <div class="exercise-info-div">
      <%# sets and reps here: %>
      <span class="exercise-info">
        <i class="fa-solid fa-dumbbell"></i> <%= @exercise.sets %> sets
        <% if @exercise.lower_reps.nil? && @exercise.upper_reps.nil? %>
          <i class="fa-solid fa-stopwatch ms-3"></i> <%= @exercise.hold_time %> s hold
        <% else %>
          <i class="fa-solid fa-repeat ms-3"></i> <%= @exercise.lower_reps %>-<%= @exercise.upper_reps %> reps
        <% end %>
      </span>
      <span><i class="fa-regular fa-circle-pause"></i> <%= @exercise.rest %>s rest</span>
    </div>
      <%# how to link here: %>
      <%= render 'shared/how_to_link', exercise: @exercise, workout_session: @workout_session %>
  </div>


  <%# progress bar here: %>
  <%#= render 'shared/progress_bar', workout_session: @workout_session, exercises: @exercises %>

  <% @sets_done = @workout_session.sets_done(@exercise) %>

  <%# video here %>
  <div class="video">

    <div class="progress-note">
      <h4>You have</h4>
      <h2><%= @exercise.sets - @sets_done.count %></h2>
      <h4>sets remaining!</h4>
    </div>

    <div data-controller="record-video">
      <div>
        <div data-record-video-target="cameraButton">
          <button data-action="click->record-video#showFullScreen" class="camera"><i class="fa-solid fa-camera fa-2xl"></i></button>
        </div>
        <div data-record-video-target="videoReplace" class="record-frame d-none">
          <button id="start" data-record-video-target="start" data-action="click->record-video#record"><i class="fa-solid fa-circle"></i></button>
          <button id="stop" data-record-video-target="stop" data-action="click->record-video#replace"><i class="fa-solid fa-stop"></i></button>
          <div>
            <%# <button data-action="click->record-video#showFullScreen">Toggle Full Screen</button> %>
            <video autoplay muted data-record-video-target="live"  width="100px" height="100px">
            </video>
          </div>
        </div>
        <div data-record-video-target="video" class="d-none"></div>
      </div>
      <div>
        <h3 class="label">Enter your reps</h3>
        <%= render 'shared/exercise_set_form', set: ExerciseSet.new, exercise: @exercise, workout_session: @workout_session %>
      </div>
      <div>
        <h3 class="label" data-record-video-target="duration"></h3>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <%= link_to "Back", workout_session_path(@workout_session, active_tab: @exercise.id), class: 'rounded-button delayed'%>
    <% unless @sets_done.count >= @exercise.sets - 1 %>
      <%= link_to "Next", workout_session_exercise_path(@workout_session, @exercise), class: 'rounded-button delayed' %>
    <% end %>
  </div>
</div>
